

.navOpen{
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    gap: 12px;
    height: 100%;
}
.navOpen a{
  width: 100%;
  text-align: center;
  max-width: 70%;
  opacity: 100;
}
.nav{
    display: flex;
    gap: 12px;
    justify-content: end;
}

@media (max-width:758px) {
    .nav{
        display: none;
    }
    
}